* {
  margin: 0;
}

/* margin collapsing */
.div1 {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.div2 {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  margin-top: 14px;

}

.div3, .div4 {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  display: inline;
  margin: 0 10px;
}

section {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}